body {
    text-align: center;
}

#name{
  font-weight: bold;
}

#scoreContainer, #highScoreContainer, #livesContainer{
  font-size: 24px;
}

#scoreContainer, #highScoreContainer{
  display: inline-block;
}
#scoreContainer{
  margin-right: 40px;
}

#name, #score, #highScore, #lives{
  display: inline;
}
