body {
    text-align: center;
}

#name{
  font-weight: bold;
}

#charSelect{
  position: absolute;
  font-family: arial;
  font-size: 18px;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#charSelect div{
  font-family: arial;
  font-size: 18px;
  background-color: black;
  color: white;
  width: 50%;
}

#scoreContainer, #highScoreContainer, #livesContainer{
  font-size: 24px;
}

#scoreContainer, #highScoreContainer{
  display: inline-block;
}
#scoreContainer{
  margin-right: 40px;
}

#name, #score, #highScore, #lives{
  display: inline;
}
